# --[ RUNTIME ]----------------------------------------------------------------

PUID=1000
PGID=1000

# --[ APPLICATION ]------------------------------------------------------------

BYOND_MODE=host
BYOND_DMB=/app/data/game.dmb
BYOND_DME=/app/data/game.dme
BYOND_PORT=1337
BYOND_TRUSTED=false
